.App {
  background-color: #091217;
  width: 100%;
  color: white;
}

.bg-tertiary {
  background-color: #0f1920 !important;
}

.transition-quick {
  transition-duration: 0.15s;
}

.navbar-background {
  z-index: 1;
}

.show {
  transform: translateY(0);
}

.hide {
  transform: translateY(-100%);
}

.search-form {
  z-index: 2;
}

.service-card {
  cursor: default;
  transition-duration: 0.1s;
}

.service-card:hover {
  background-color: #101d24 !important;
  transform: scale(1.02);
}

.service-item {
  padding: 0.75rem 1.5rem;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: inset 0px 6px 6px rgba(255, 255, 255, 0.01);
}

/* Error modal */
.modal-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
}